<h2>
  {{t 'resources.role.principal.messages.add-principals.title'}}
  <DocLink @doc='role.add-principals' @iconSize='large' />
</h2>
<p>{{t 'resources.role.principal.messages.add-principals.description'}}</p>