<table ...attributes class="rose-table">
  {{#if @caption}}
    <caption>{{@caption}}</caption>
  {{/if}}

  {{yield (hash
    header=(component 'rose/table/section'
      tagName='thead'
      cellTagName='th'
      classNames='rose-table-header')
    body=(component 'rose/table/section'
      tagName='tbody'
      cellTagName='td'
      classNames='rose-table-body')
    footer=(component 'rose/table/section'
      tagName='tfoot'
      cellTagName='td'
      classNames='rose-table-foot')
  )}}
</table>
