@use '../../variables/sizing';
@use '../../utilities/type';

$xxxs: sizing.rems(xxxs); // 2

.rose-card-link {
  @include type.type(s);
  border: sizing.rems(xxxxs) solid var(--ui-gray-subtler-2);
  border-radius: sizing.rems(xxxs);
  color: var(--ui-gray);
  display: inline-flex;
  flex-direction: column;
  margin: 0 sizing.rems(m) sizing.rems(m) 0;
  box-shadow: 0 $xxxs $xxxs rgba(var(--stark-components), var(--opacity-4)),
    0 $xxxs $xxxs rgba(var(--stark-components), var(--opacity-4));

  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: sizing.rems(s);
    // TODO: Figure out better method of defining card dimensions
    min-height: sizing.rems(m) * 6; //6 rems
    width: sizing.rems(m) * 12; //12 rems
  }

  &:hover {
    $s: sizing.rems(s); // 12
    $xs: sizing.rems(xs); // 8
    $xxs: sizing.rems(xxs); // 4
    border-color: var(--ui-gray);
    background-color: var(--ui-gray-subtler-5);
    box-shadow: 0 $xs $s rgba(var(--stark-components), var(--opacity-3)),
      0 $xxs $xxs rgba(var(--stark-components), var(--opacity-4));
  }

  &:active {
    background-color: var(--ui-gray-subtler-4);
  }

  &:focus-within {
    border-color: var(--info);
  }

  .rose-card-link-title {
    $truncate-line-count: 3;
    @include type.type(m, semibold);
    color: var(--stark);
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $truncate-line-count;
    overflow: hidden;
  }

  .rose-card-link-subtitle {
    color: var(--ui-gray);
    margin: 0;
  }

  .rose-card-link-description {
    margin: auto 0 0;
    color: var(--ui-gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
