@use 'sass:map';
@use '../../variables/sizing';
@use '../../variables/typography';
@use '../../utilities/type';

$xxxs: sizing.rems(xxxs); // 2

.rose-card-link {
  @include type.type(s);
  border: sizing.rems(xxxxs) solid var(--ui-gray-subtler-2);
  border-radius: sizing.rems(xxxs);
  color: var(--ui-gray);
  display: inline-flex;
  flex-direction: column;
  margin: 0 sizing.rems(m) sizing.rems(m) 0;
  box-shadow: 0 $xxxs $xxxs rgba(var(--stark-components), var(--opacity-4)),
    0 $xxxs $xxxs rgba(var(--stark-components), var(--opacity-4));

  @media (prefers-color-scheme: dark) {
    background-color: var(--ui-gray-subtler-6);
  }

  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: 100%;
    // TODO: Figure out better method of defining card dimensions
    min-height: sizing.rems(m) * 8; //6 rems
    width: sizing.rems(m) * 16; //12 rems
  }

  &:hover {
    $s: sizing.rems(s); // 12
    $xs: sizing.rems(xs); // 8
    $xxs: sizing.rems(xxs); // 4
    border-color: var(--ui-gray);
    background-color: var(--ui-gray-subtler-5);
    box-shadow: 0 $xs $s rgba(var(--stark-components), var(--opacity-3)),
      0 $xxs $xxs rgba(var(--stark-components), var(--opacity-4));
  }

  &:active {
    background-color: var(--ui-gray-subtler-4);
  }

  &:focus-within {
    border-color: var(--info);
  }

  .rose-card-link-header,
  .rose-card-link-body,
  .rose-card-link-footer {
    padding-left: sizing.rems(m);
    padding-right: sizing.rems(m);
  }

  .rose-card-link-header {
    padding-top: sizing.rems(m);
  }
  .rose-card-link-footer {
    margin-top: sizing.rems(xs) + sizing.rems(xxs);
    padding-top: sizing.rems(xs) * 2;
    padding-bottom: sizing.rems(xs) * 2;
  }

  .rose-card-link-footer {
    border-top: sizing.rems(xxxxs) solid var(--ui-gray-subtler-2);
  }

  .rose-card-link-title {
    @include type.type(m, semibold);
    display: flex;
    color: var(--stark);
    margin: 0;
    margin-bottom: sizing.rems(xs);

    .rose-icon {
      margin-right: sizing.rems(xs);

      svg {
        vertical-align: text-bottom;
      }
    }

    .rose-card-link-title-text {
      flex-grow: 1;
      height: typography.line-height(m) * 2rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .rose-card-link-description {
    color: var(--ui-gray);
    margin: 0;
    height: typography.line-height(m) * 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .rose-card-link-footer-id {
    @include type.type(xs);
    color: var(--ui-gray);
    margin: 0;

    &::before {
      content: "ID";
      color: var(--stark);
      padding-right: sizing.rems(xs);
    }
  }

  // .rose-card-link-description {
  //   margin: auto 0 0;
  //   color: var(--ui-gray);
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
}
