# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/
/storybook-static/

# dependencies
/bower_components/
/node_modules/

# misc
main.js
/coverage/
!.*
.eslintcache

index.js
