<Rose::Layout::Sidebar as |sidebarLayout|>
  <sidebarLayout.sidebar>
    <Rose::Nav::Sidebar as |nav|>
      <nav.link @route='scopes.scope.projects.targets'>
        <Rose::Icon @name='flight-icons/crosshair-16' @size='medium' />
        {{t 'resources.target.title_plural'}}
      </nav.link>

      <nav.link @route='scopes.scope.projects.sessions'>
        <Rose::Icon @name='flight-icons/entry-point-16' @size='medium' />
        {{t 'resources.session.title_plural'}}
      </nav.link>
    </Rose::Nav::Sidebar>
  </sidebarLayout.sidebar>

  <sidebarLayout.body>
    <main>
      {{outlet}}
    </main>
  </sidebarLayout.body>
</Rose::Layout::Sidebar>