{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<li
  class='rose-list-key-value-item'
  aria-labelledby={{concat 'item-key-' this.id}}
>
  {{yield
    (hash
      key=(component
        'rose/anonymous'
        id=(concat 'item-key-' this.id)
        tagName='div'
        class='rose-list-key-value-item-cell'
      )
      cell=(component
        'rose/anonymous' tagName='div' class='rose-list-key-value-item-cell'
      )
    )
  }}
</li>