{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<a
  class='doc-link'
  href={{doc-url @doc}}
  target='_blank'
  rel='noreferrer noopener'
  title={{t 'actions.get-topic-help'}}
>
  <Rose::Icon @name='flight-icons/svg/help-24' @size={{@iconSize}} />
</a>