{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<a
  class='doc-link'
  href={{doc-url @doc}}
  target='_blank'
  rel='noreferrer noopener'
  title={{t 'actions.get-topic-help'}}
>
  <Hds::Icon @name='help' @size={{or @iconSize 24}} @isInline={{true}} />
</a>