<div ...attributes class="rose-page-header-title">
  {{#if (has-block)}}
    {{yield (hash
      dropdown=(component 'rose/header/dropdown' style='dark')
    )}}
  {{else}}
    <section class="rose-page-header-title-section">
      {{#if @icon}}
        <span class="rose-page-header-title-icon">{{inline-svg @icon}}</span>
      {{/if}}

      {{#if @text}}
        <h1 class="rose-page-header-title-text">{{@text}}</h1>
      {{/if}}
    </section>
  {{/if}}
</div>
