/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.rose-header {
  // Temporary fix: This header component will be retired upon integrating HDS side nav for desktop.
  .header-dropdown-button-override > button {
    background: var(--black);
    border: none;
    color: var(--white);
  }
}
