/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/sizing';
@use '../../variables/media';

.rose-header-nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: sizing.rems(s);

  @media (width <= (media.width(small))) {
    padding: 0 20px;
    background: var(--ui-header-subtler);
  }
}
