/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/sizing';

.rose-header-utilities {
  grid-area: utilities;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: sizing.rems(s);
}
