{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div ...attributes class='layout-sidebar'>
  {{yield
    (hash
      Body=(component 'layout/sidebar/body')
      Sidebar=(component 'layout/sidebar/sidebar')
    )
  }}
</div>