<Rose::Layout::Page as |page|>
  <page.header>
    <h2>{{t 'resources.session-recording.title_plural'}}</h2>
  </page.header>

  <page.body>
    <LinkTo
      @route='scopes.scope.session-recordings.session-recording'
      @model={{@model.session_recording_id}}
    >
      {{@model.session_recording_id}}
    </LinkTo>
  </page.body>
</Rose::Layout::Page>