<Rose::Layout::Page as |page|>
  <page.header>
    <h2>{{t 'resources.session-recording.title_plural'}}</h2>
  </page.header>

  <page.body>
    {{#each @model as |recording|}}
      <p>
        <LinkTo
          @route='scopes.scope.session-recordings.session-recording'
          @model={{recording.id}}
        >
          {{recording.id}}
        </LinkTo>
      </p>
    {{/each}}
  </page.body>
</Rose::Layout::Page>