<div class='session-recording-player'>
  <div class='session-recording-player-header'>
    <Hds::Button
      @icon='arrow-left'
      @text={{t 'resources.session-recording.channel.player.back-navigation'}}
      @color='tertiary'
      @route={{@route}}
      @model={{@model}}
    />
  </div>
  <div class='session-recording-player-theme'>
    <Heap::Player @data={{@asciiCast}} />
  </div>
</div>