<div class='session-recording-player'>
  <div class='session-recording-player-header'>
    <Hds::Link::Standalone
      @icon='arrow-left'
      @text='Back to channels'
      @href='...'
    />
  </div>
  <div class='session-recording-player-theme'>
    <Heap::Player @data={{@asciiCast}} />
  </div>
</div>