{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

// TODO IGNORE
<p class='rose-form-error-message' ...attributes>
  <Rose::Icon @name='flight-icons/svg/x-square-16' @size='medium' />
  {{yield}}
</p>