{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

// TODO IGNORE
<p class='rose-form-error-message' ...attributes>
  <Hds::Icon @name='x-square' @isInline={{true}} />
  {{yield}}
</p>