# Note: this will change the permissions of the files in this directory after
# running to allow for easy deletion, so this should only be run as part of
# boundary's build task.

version: '3.8'

services:
  node: &node
    image: docker.mirror.hashicorp.services/node:14
    volumes:
      - './:/src'
      - 'icu_node_modules:/src/node_modules'
      - 'icu_addons_api_node_modules:/src/addons/api/node_modules'
      - 'icu_addons_auth_node_modules:/src/addons/auth/node_modules'
      - 'icu_addons_core_node_modules:/src/addons/core/node_modules'
      - 'icu_addons_rose_node_modules:/src/addons/rose/node_modules'
      - 'icu_ui_admin_node_modules:/src/ui/admin/node_modules'
      - 'icu_ui_desktop_node_modules:/src/ui/desktop/node_modules'
    working_dir: /src

  build-admin:
    <<: *node
    entrypoint: bash
    command: '-c "yarn install && yarn build:ui:admin && chmod -R 777 ."'

  build-desktop-production:
    <<: *node
    entrypoint: bash
    command: '-c "yarn install --frozen-lockfile --non-interactive && yarn build:ui:desktop:production && chmod -R 777 ."'

volumes:
  icu_node_modules:
  icu_addons_api_node_modules:
  icu_addons_auth_node_modules:
  icu_addons_core_node_modules:
  icu_addons_rose_node_modules:
  icu_ui_admin_node_modules:
  icu_ui_desktop_node_modules:
