@use '../../variables/sizing';
@use '../../utilities/type';
@use 'sass:math';

.rose-nav-sidebar {
  $threePX: sizing.rems(xxxs) + sizing.rems(xxxxs);
  $yPadding: sizing.rems(xs);

  padding-top: $yPadding;
  padding-bottom: $yPadding;
  border-bottom: sizing.rems(xxxxs) solid #{color(ui-gray, 700)};

  &:last-child {
    border-bottom: 0;
  }

  // TODO revisit the title
  .rose-nav-title {
    @include type.type(xs, semibold);
    display: none;
    color: #{color(ui-gray, 400)};
    text-transform: uppercase;
    $lineHeight: math.div(20, 12);
    line-height: $lineHeight;
    padding: 0 sizing.rems(m);
    margin-bottom: $threePX;
    border-bottom: sizing.rems(xxxxs) solid #{color(ui-gray, 700)};
  }

  .rose-nav-link {
    @include type.type(s);
    display: block;
    color: var(--white);
    $lineHeight: math.div(36, 14);
    line-height: $lineHeight;
    text-decoration: none;
    padding: 0 sizing.rems(m);
    border-right: $threePX solid transparent;

    .rose-icon {
      opacity: 0.65;
    }

    &:hover {
      //text-decoration: underline;
      color: var(--white);
      background-color: #{color(ui-gray, 800)};
    }

    &.active {
      color: var(--white);
      border-color: #{color(ui-gray, 300)};
      background-color: #{color(ui-gray, 800)};
    }
  }
}
