/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/sizing';
@use '../../utilities/type' as typography;

.rose-page-header-title {
  display: inline-block;
  grid-area: title;

  .rose-page-header-title-text {
    display: inline-block;
    color: var(--stark);
  }

  .rose-page-header-title-icon {
    vertical-align: sub;

    svg {
      width: sizing.rems(l);
    }
  }
}
