/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.rose-page-header-utilities {
  grid-area: utilities;

  // Remove margin to align action buttons with h1 text
  button {
    margin-bottom: 0;
  }
}
