<Rose::Layout::Page as |page|>

  <page.header>
    <h2>{{t "resources.host-catalogs"}}</h2>
  </page.header>

  <page.actions>
    <LinkTo
      @route="orgs.org.projects.project.host-catalogs.new"
    >
      {{t 'titles.new'}}
    </LinkTo>
  </page.actions>

  <page.body>
    <Rose::Table as |table|>
      <table.body as |body|>
        {{#each @model as |hostCatalog|}}
          <body.row as |row|>
            <row.cell>
              <LinkTo
                @route="orgs.org.projects.project.host-catalogs.host-catalog"
                @model={{hostCatalog}}
              >
                {{hostCatalog.name}}
              </LinkTo>
            </row.cell>
          </body.row>
        {{/each}}
      </table.body>
    </Rose::Table>
  </page.body>

</Rose::Layout::Page>
