{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<h2>
  {{t 'resources.role.title'}}
  <DocLink @doc='role' @iconSize='large' />
</h2>
<p>{{t 'resources.role.description'}}</p>
<Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />