@use '../../variables/sizing';
@use '../../utilities/type' as typography;

.rose-page-header-title {
  display: inline-block;
  grid-area: title;

  .rose-page-header-title-text {
    display: inline-block;
    color: var(--stark);
  }

  .rose-page-header-title-icon {
    vertical-align: sub;

    svg {
      width: sizing.rems(l);
      width: sizing.rems(l);
    }
  }

  .rose-header-dropdown {
    .rose-header-dropdown-trigger-text {
      @include typography.type(h1, bold);
      margin-top: sizing.rems(xs);
      margin-bottom: sizing.rems(xs);

      margin-right: sizing.rems(xs);
    }

    .rose-header-dropdown-trigger {
      background-size: sizing.rems(l);
    }
  }
}
