<span class="rose-header-navigation">
  <span class="wrapper">
    {{yield (hash
      link=(component 'link-to' class="rose-header-navigation-link")
      dropdown=(component 'rose/header/dropdown')
    )}}
  </span>
</span>
