<div class="rose-header-utilities">
  {{yield (hash
    dropdown=(component 'rose/dropdown' dropdownRight=true)
    text=(component 'rose/anonymous' tagName='span' class='rose-header-utilities-text')
  )}}
</div>
