/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

@use 'rose';

.swatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 !important;
}

.swatch {
  width: 9rem;

  // border: 1px solid var(--ui-gray-subtler-4);
  border-radius: var(--token-border-radius-small);
  margin: 0 0.5rem 0.5rem 0 !important;
  box-shadow: 0 3px 6px rgba(var(--stark-components), var(--opacity-3));
  list-style-type: none;

  code {
    display: block !important;
    font-size: 0.65rem !important;
    max-width: 100% !important;
    padding: 0 !important;
    border: 0 !important;
    overflow-x: scroll !important;
    color: var(--ui-gray) !important;
    background: none !important;
  }
}

.swatch-chip {
  height: 5rem;
  border: 0.5rem solid var(--subtle);
  border-radius: var(--token-border-radius-small);
}

.swatch-detail {
  border-top: 1px solid var(--ui-gray-subtler-4);
  padding: 0.5rem;
}
