{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Text::Display @tag='h2' @size='400' @weight='bold' class='header-spacing'>
  {{t 'resources.account.title'}}
  <DocLink @doc='account' />
</Hds::Text::Display>
<p>{{t 'resources.account.description'}}</p>
<Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />