@use '../../variables/sizing';

.rose-footer-copyright {
  display: inline-flex;
  align-items: center;

  .rose-footer-copyright-symbol {
    margin-right: sizing.rems(xxxs);
  }

  .rose-footer-copyright-year {
    margin-right: sizing.rems(xxs);
  }
}
