@use '../../variables/sizing';

.rose-footer-nav-external-link {
  display: inline-flex;
  align-items: center;
  margin-right: sizing.rems(s);
  text-decoration: underline;
  color: var(--ui-gray-starker-1);
}
