@use '../../variables/sizing';

.rose-footer-product {
  display: inline-flex;
  align-items: center;
  margin: 0 sizing.rems(l);

  .rose-footer-product-version {
    margin-left: sizing.rems(xxxs);
  }
}
