<h2>
  {{t 'resources.target.host-source.messages.add.title'}}
  <DocLink @doc='target.add-host-sources' @iconSize='large' />
</h2>
<p>{{t 'resources.target.host-source.messages.add.description'}}</p>