/**
 * Copyright IBM Corp. 2021, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../variables/typography';

/**
 * Mixin for specifying a font-size/line-height size on an element, with
 * an option for specifying weight.
 */
@mixin type($size) {
  font-size: typography.font-size($size);
  line-height: typography.line-height($size);
}
