{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<section ...attributes class='rose-frame'>

  <header class='rose-frame-header'>
    {{yield to='header'}}
  </header>

  <div class='rose-frame-body'>
    {{yield to='body'}}
  </div>

</section>