<section ...attributes class="rose-frame">

  <header class="rose-frame-header">
    {{yield to="header"}}
  </header>

  <section class="rose-frame-body">
    {{yield to="body"}}
  </section>

</section>
