{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Card::Container @level='high' @hasBorder='true' ...attributes>
  <header class='rose-frame-header'>
    {{yield to='header'}}
  </header>

  <div class='rose-frame-body'>
    {{yield to='body'}}
  </div>
</Hds::Card::Container>