<h2>Condensed Table</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell >Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell>host-set-1, host-set-2</row.cell>
      <row.cell>optional name</row.cell>
      <row.cell>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table With Expanded Cells</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell >Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell @style="expand">Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell>host-set-1, host-set-2</row.cell>
      <row.cell>
        <Rose::Button @style="secondary" @iconOnly="trash" title="Remove">Remove</Rose::Button>
      </row.cell>
      <row.cell @style="expand">description</row.cell>
    </body.row>
  </table.body>
  <table.footer @hidden=true as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table With Right and Center aligned cells</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell >Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell @align="center">host-set-1, host-set-2</row.cell>
      <row.cell @alignRight=true>optional name</row.cell>
      <row.cell @alignCenter=true>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table Key/Value Lookalike</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell>Key</row.headerCell>
      <row.headerCell @style="expand">Value</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell>Value</row.cell>
    </body.row>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell>Value</row.cell>
    </body.row>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell>Value</row.cell>
    </body.row>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell @style="expand">
        <Rose::Form::Input @contextual={{true}} as |input|>
          <input.field />
          <Rose::Button @style="secondary" @iconOnly="trash" title="Remove">Remove</Rose::Button>
        </Rose::Form::Input>
      </row.cell>
    </body.row>
  </table.body>
  <table.footer @hidden=true as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table With Visually Hidden Header & Footer</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row @hidden=true as |row|>
      <row.headerCell >Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell @style="expand">Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell>host-set-1, host-set-2</row.cell>
      <row.cell>optional name</row.cell>
      <row.cell>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row @hidden=true as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Key/Value</h2>
<Rose::List::KeyValue as |list|>
  <list.item as |item|>
    <item.key>Key</item.key>
    <item.cell>Value</item.cell>
  </list.item>
  <list.item as |item|>
    <item.key>Key</item.key>
    <item.cell>Value</item.cell>
  </list.item>
  <list.item as |item|>
    <item.key>Key</item.key>
    <item.cell>Value</item.cell>
  </list.item>

  <Rose::Form::Input @contextual={{true}} as |input|>
    <list.item as |item|>
      <item.key>
        <input.label>Key</input.label>
      </item.key>
      <item.cell>
        <input.field />
      </item.cell>
      <item.cell>
        <Rose::Button @style="secondary">Add</Rose::Button>
      </item.cell>
    </list.item>
  </Rose::Form::Input>

  <Rose::Form::Input @contextual={{true}} as |input|>
    <list.item as |item|>
      <item.key>
        <input.label>Key</input.label>
      </item.key>
      <item.cell>
        <input.field />
      </item.cell>
      <item.cell>
        <Rose::Button @style="secondary" @iconOnly="trash" title="Remove">Remove</Rose::Button>
      </item.cell>
    </list.item>
  </Rose::Form::Input>
</Rose::List::KeyValue>

<h2>Table</h2>
<Rose::Table as |table|>
  <table.header as |header|>
    <header.row as |row|>
      <row.headerCell>Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell>host-set-1, host-set-2</row.cell>
      <row.cell>optional name</row.cell>
      <row.cell>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>