{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='rose-code-editor-toolbar' data-test-code-editor-toolbar>
  <div data-test-code-editor-toolbar-action class='code-editor-toolbar__action'>
    {{yield to='action'}}
  </div>

  <div class='rose-code-editor-toolbar__right-aligned'>
    {{#if (has-block 'menu')}}
      <div
        data-test-code-editor-toolbar-menu
        class='rose-code-editor-toolbar__menu'
      >
        {{yield to='menu'}}
      </div>
      <div
        class='rose-code-editor-toolbar__menu-divider'
        data-test-code-editor-toolbar-menu-divider
      ></div>
    {{/if}}
    <div
      class='rose-code-editor-toolbar__copy-button'
      data-test-code-editor-toolbar-copy-button
    >
      <Hds::Icon @name={{this.copyIconType}} @isInline={{true}} />
      Copy code
    </div>
  </div>
</div>