{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'errors.generic.title')}}

<main>

  <Rose::Layout::Centered>
    <Error::Message @docLink={{doc-url 'support-page'}} />
  </Rose::Layout::Centered>

  <Rose::Layout::Centered>
    <Hds::Button @color='primary' {{on 'click' this.appUtilities.disconnect}}>
      {{t 'actions.disconnect'}}
    </Hds::Button>
  </Rose::Layout::Centered>

</main>