{{page-title (t 'errors.generic.title')}}

<main>

  <Rose::Layout::Centered>
    <Error::Message />
  </Rose::Layout::Centered>

  <Rose::Layout::Centered>
    <Rose::Button @style='primary' {{on 'click' (route-action 'disconnect')}}>
      {{t 'actions.disconnect'}}
    </Rose::Button>
  </Rose::Layout::Centered>

</main>