{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'errors.generic.title')}}

<main>

  <Rose::Layout::Centered>
    <Error::Message />
  </Rose::Layout::Centered>

  <Rose::Layout::Centered>
    <Rose::Button @style='primary' {{on 'click' this.appUtilities.disconnect}}>
      {{t 'actions.disconnect'}}
    </Rose::Button>
  </Rose::Layout::Centered>

</main>