<span class="rose-footer-copyright">
  <span class="rose-footer-copyright-symbol">
    &copy;
  </span>
  <span class="rose-footer-copyright-year">
    {{this.currentYear}}
  </span>
  <span class="rose-footer-copyright-text">
    {{@text}}
  </span>
</span>
