/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/media';

.rose-layout-body-content {
  display: grid;
  grid-template-areas: 'body body sidebar';
  grid-template-columns: 1fr 1fr fit-content(300px);
  grid-template-rows: auto 1fr;
  gap: 2rem;

  &-body {
    grid-area: body;
  }

  &-sidebar {
    grid-area: sidebar;
  }
}

@media (width <= (media.width(xlarge))) {
  .rose-layout-body-content {
    grid-template-areas:
      'body'
      'sidebar';
    grid-template-columns: auto;

    &-body {
      min-width: 0;
    }

    &-sidebar {
      max-width: 300px;
    }
  }
}
