/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/sizing';

.rose-layout-centered {
  display: flex;
  justify-content: center;
  padding: sizing.rems(xl) 0;
}
