/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.rose-layout-global {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .rose-layout-global-body {
    flex: 1;
    display: flex;
  }
}
