/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/sizing';
@use '../../variables/media';
@use '../../variables/color/sass';

.rose-layout-sidebar {
  --sidebar-width: #{sizing.rems(m) * 16};

  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--sidebar-width)) repeat(
      1,
      minmax(min-content, 100%)
    );
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'sidebar content'
    'sidebar footer';

  .rose-layout-sidebar-sidebar {
    grid-area: sidebar;
    background-color: #{sass.color(ui-gray, 950)};
    border-right: sizing.rems(xxxxs) solid var(--ui-border-subtler-1);
  }

  .rose-layout-sidebar-body {
    grid-area: content;
  }

  .rose-layout-sidebar-footer {
    grid-area: footer;
  }
}

@media (width <= (media.width(medium))) {
  .rose-layout-sidebar {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'sidebar'
      'content'
      'footer';
  }
}
