{{outlet}}

{{#unless @model}}
  <Rose::Layout::Sidebar as |sidebarLayout|>

    <sidebarLayout.body>
      <main>
        <Rose::Layout::Centered>
          <Rose::Message
            @title={{t 'auth.titles.no-scopes'}}
            @icon='flight-icons/svg/alert-circle-16'
            as |message|
          >
            <message.description>
              {{t 'auth.descriptions.no-scopes'}}
            </message.description>
          </Rose::Message>
        </Rose::Layout::Centered>
      </main>
    </sidebarLayout.body>

  </Rose::Layout::Sidebar>
{{/unless}}