<span class="rose-footer-product">
  <span class="rose-footer-product-text">
    {{@text}}
  </span>

  {{#if @version}}
    <span class="rose-footer-product-version">
      v{{@version}}
    </span>
  {{/if}}
</span>