@use '../variables/sizing';
@use '../utilities/type' as typography;

$checkbox-check-height: sizing.rems(xs) - sizing.rems(xxxs);
$checkbox-check-size: sizing.rems(xxxxs) + (sizing.rems(xxxs) / 3);
$checkbox-check-left-position: sizing.rems(xxs) - (sizing.rems(xxs) / 3);

.rose-checkbox {
  @include typography.type(m);
  color: var(--stark);
  background-color: var(--subtle);

  .rose-checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    border: sizing.rems(xxxxs) solid var(--ui-border);
    border-radius: sizing.rems(xxxs);
    width: 14px;
    height: 14px;
    background-color: var(--subtle);

    &::before {
      content: '';
      position: absolute;
      left: $checkbox-check-left-position;
      width: sizing.rems(xxxs);
      height: $checkbox-check-height;
      border: solid;
      border-width: 0 $checkbox-check-size $checkbox-check-size 0;
      border-color: var(--info);
      border-radius: sizing.rems(xxxxs);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      visibility: hidden;
    }

    &:checked {
      border-color: var(--info);
    }

    &:disabled {
      cursor: not-allowed;
      border-color: var(--ui-border);
      background-color: var(--ui-gray-subtler-4);

      &::before {
        border-color: var(--ui-border);
      }
    }

    &:checked::before {
      visibility: visible;
    }

    &:focus {
      outline: none;
      border-color: var(--info);
    }

    &:hover {
      border-color: var(--ui-gray);
    }
  }

  &.error {
    .rose-checkbox-input {
      border-color: var(--failure);

      &:focus {
        border-color: var(--info);
      }

      &:disabled {
        border-color: var(--ui-border);
      }
    }
  }
}
