@use '../variables/sizing';
@use '../utilities/type';
@use '../variables/media';

$m: sizing.rems(m); // 16
$s: sizing.rems(s); // 12
$xs: sizing.rems(xs); // 8
$xxs: sizing.rems(xxs); // 4
$xxxs: sizing.rems(xxxs); // 2
$xxxxs: sizing.rems(xxxxs); // 1

.rose-dialog {
  --headerColor: var(--ui-gray-starker-3);
  --headerIconColor: var(--headerColor);
  --headerBackgroundColor: var(--ui-gray-subtler-5);
  --headerBorderColor: var(--ui-gray-subtler-2);

  border-radius: $xxxs;
  background-color: var(--subtle);
  box-shadow: 0 $xs $s rgba(var(--stark-components), var(--opacity-2)),
    0 $xxs $xxs rgba(var(--stark-components), var(--opacity-3));

  &.rose-dialog-success {
    --headerColor: var(--success-starker-1);
    --headerIconColor: var(--success);
    --headerBackgroundColor: var(--success-subtler-2);
    --headerBorderColor: var(--success);
  }

  &.rose-dialog-warning {
    --headerColor: var(--warning-starker-1);
    --headerIconColor: var(--warning);
    --headerBackgroundColor: var(--warning-subtler-2);
    --headerBorderColor: var(--warning);
  }

  &.rose-dialog-error {
    --headerColor: var(--failure-starker-1);
    --headerIconColor: var(--failure);
    --headerBackgroundColor: var(--failure-subtler-2);
    --headerBorderColor: var(--failure);
  }

  .rose-dialog-header {
    display: flex;
    align-items: center;
    padding: ($xs + $xxxs) $m;
    min-height: sizing.rems(l);
    color: var(--headerColor);
    background-color: var(--headerBackgroundColor);
    border: $xxxxs solid var(--headerBorderColor);
    border-top-left-radius: $xxxs;
    border-top-right-radius: $xxxs;

    .rose-icon {
      color: var(--headerIconColor);
      margin-right: $xxs + $xxxs;

      svg {
        transform: scale(1.25);
        position: relative;
        top: $xxxxs;
      }
    }

    .rose-dialog-heading {
      @include type.type(m, semibold);
      flex-grow: 1;
      margin: 0;
      padding: 0;
      color: currentColor;
    }

    .rose-dialog-dismiss {
      border: $xxxxs solid var(--ui-gray-subtler-2);
      border-radius: $xxxs;
      color: var(--ui-gray);
      background-color: transparent;
      padding: 0;
      margin: 0;
      height: sizing.rems(l);
      width: sizing.rems(l);

      &:hover {
        border-color: currentColor;
      }

      .rose-icon {
        margin: 0;
        color: var(--ui-gray);

        svg {
          top: $xxxs;
        }
      }
    }
  }

  .rose-dialog-body {
    border-left: $xxxxs solid var(--ui-gray-subtler-2);
    border-right: $xxxxs solid var(--ui-gray-subtler-2);
    padding: sizing.rems(l);
  }

  .rose-dialog-footer {
    padding: $m;
    border: $xxxxs solid var(--ui-gray-subtler-2);
    border-bottom-left-radius: $xxxs;
    border-bottom-right-radius: $xxxs;
    background-color: var(--ui-gray-subtler-5);

    button {
      margin-bottom: 0;
    }
  }
}

.rose-dialog {
  &.modal {
    display: flex;
    flex-direction: column;

    position: fixed;

    left: calc(50% - 300px);
    top: 5%;

    max-height: 85%;
    max-width: 80vw;
    width: 650px;

    @media (max-width: media.width(small)) {
      left: 5%;
    }

    .rose-dialog-body {
      overflow-y: auto;
    }
  }
}
// overlay
.rose-dialog-modal-overlay {
  content: ' ';
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}
