@use '../variables/sizing';
@use '../variables/media';
@use '../utilities/type';

$brand-hashicorp: "data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 106.86 113.14' fill='%23ffffff'><g id='Layer_2' data-name='Layer 2'><g id='Logo'><polygon points='44.54 0 0 25.69 0 25.71 0 87.41 16.73 97.07 16.73 35.35 44.54 19.3 44.54 0'/><polygon points='62.32 0 62.32 49.15 44.54 49.15 44.54 30.81 27.8 40.47 27.8 103.44 44.54 113.12 44.54 64.11 62.32 64.11 62.32 82.33 79.05 72.67 79.05 9.66 62.32 0'/><polygon points='62.32 113.14 106.86 87.45 106.86 87.43 106.86 25.73 90.12 16.07 90.12 77.79 62.32 93.84 62.32 113.14'/></g></g></svg>";

$dropdown-chevron: (
  'default':
    "data:image/svg+xml;utf-8,<svg viewBox='0 0 24 24' fill='%23ebeef2' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'></path></svg>",
  'open':
    "data:image/svg+xml;utf-8,<svg viewBox='0 0 24 24' fill='%231f2124' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'></path></svg>",
);

.rose-header {
  @include type.type(s, semibold);
  display: grid;
  grid-template-areas: 'brand navigation utilities';
  grid-template-columns: 0.01fr auto 1fr;
  grid-gap: sizing.rems(xxxs);
  background: var(--black);
  color: var(--white);

  .rose-header-brand {
    grid-area: brand;
    width: sizing.rems(l);
    height: sizing.rems(l);
    background-image: url($brand-hashicorp);
    background-repeat: no-repeat;
    margin: sizing.rems(xxs);
  }

  .rose-header-navigation {
    grid-area: navigation;

    .rose-header-navigation-flex {
      display: flex;
      flex-wrap: wrap;
    }

    .rose-header-navigation-link {
      text-decoration: none;
      display: block;
      color: var(--white);
      border: 1px solid var(--stark);
      border-radius: sizing.rems(xxs);
      text-align: center;
      padding: sizing.rems(xxs) sizing.rems(s);
      position: relative;
      top: sizing.rems(xxxs);
      cursor: pointer;
      margin: 0 sizing.rems(xs);

      &:hover {
        background: var(--ui-gray-starker-3);
      }

      &:active {
        background: var(--ui-gray-starker-2);
      }
    }
  }

  .rose-header-utilities {
    grid-area: utilities;

    .rose-header-utilities-flex {
      margin-right: sizing.rems(s);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }
  }

  .rose-header-navigation,
  .rose-header-utilities {
    .rose-header-dropdown {
      &[open] {
        .rose-header-dropdown-trigger {
          background: var(--white);
          color: var(--ui-gray-starker-4);

          .rose-header-dropdown-chevron {
            background-image: url(map-get($dropdown-chevron, 'open'));
          }
        }
      }

      .rose-header-dropdown-trigger {
        padding: sizing.rems(xxs) sizing.rems(s);
        border-radius: sizing.rems(xxxs);
        color: var(--white);
        position: relative;
        top: sizing.rems(xxxs);
        cursor: pointer;
        &::-webkit-details-marker {
          display: none;
        }

        .rose-header-dropdown-chevron {
          background-image: url(map-get($dropdown-chevron, 'default'));
          width: sizing.rems(m);
          height: sizing.rems(m);
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .rose-header-dropdown-content {
        position: absolute;
        background-color: var(--white);
        border-radius: sizing.rems(xxxs);
        border: 1px solid var(--ui-gray-subtler-2);
        padding-right: sizing.rems(xl);
        margin-top: sizing.rems(xxxs);

        &.rose-header-dropdown-content-right {
          right: sizing.rems(s);
        }

        .rose-header-dropdown-content-link {
          padding: sizing.rems(xs) sizing.rems(s);
          text-decoration: none;
          display: block;
          color: var(--ui-gray-starker-4);
          height: sizing.rems(l);
        }

        .rose-header-dropdown-content-button {
          button {
            cursor: pointer;
            padding: sizing.rems(xs) sizing.rems(s);
            color: var(--ui-gray-starker-4);
            display: inline-block;
            border: none;
            text-decoration: none;
            font-size: inherit;
            font-weight: inherit;
            -webkit-appearance: none;
          }
        }
      }
    }
  }
}

@media (max-width: media.width(small)) {
  .rose-header {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      'brand utilities'
      'navigation navigation';
    padding-bottom: 0;

    .rose-header-navigation {
      background: var(--ui-header-subtler);
      padding: sizing.rems(xs) sizing.rems(s);

      .rose-header-navigation-link {
        border: 1px solid var(--ui-gray-subtler);

        &:hover {
          background: var(--ui-gray-starker-3);
        }
      }
    }
  }
}
