@use '../variables/sizing';

.rose-icon {
  --size: #{sizing.rems(l)};

  &.medium {
    --size: #{sizing.rems(m)};
  }

  &.small {
    --size: #{sizing.rems(s)};
  }

  > svg {
    width: var(--size);
    height: var(--size);
    vertical-align: text-top;
  }
}

.is-loading .rose-icon {
  @keyframes hds-flight-icon-animation-rotation {
    to {transform: rotate(360deg);}
  }

  > svg {
    animation: hds-flight-icon-animation-rotation 9s linear infinite;
  }

  @media (prefers-reduced-motion: no-preference) {
    > svg {
      animation-duration: .7s;
    }
  }
}
