@use '../variables/sizing';

.rose-icon {
  --size: #{sizing.rems(l)};

  &.extra-large {
    --size: #{sizing.rems(m) * 2};
  }

  &.medium {
    --size: #{sizing.rems(m)};
  }

  &.small {
    --size: #{sizing.rems(s)};
  }

  > svg {
    width: var(--size);
    height: var(--size);
    vertical-align: text-top;
  }
}
