@use '../variables/sizing';

.rose-refresh-button {
  color: var(--stark);
  vertical-align: middle;
  margin: auto ($size-xs + $size-xxxs) auto auto;
  &.loading {
    color: var(--ui-gray-subtler-1);
  }
}
