@use '../variables/sizing';

.rose-loading-button {
  color: var(--stark);
  vertical-align: middle;
  margin: auto ($size-xs + $size-xxxs) auto auto;
  &.is-loading {
    color: var(--ui-gray-starker-1);
  }
}
