@use '../utilities/type';
@use '../variables/sizing';
@use '../variables/media';

.rose-message {
  @include type.type(s, normal);
  display: grid;
  grid-template-areas:
    'title title title'
    'description description description'
    'left-link . right-link';
  grid-auto-columns: auto 1fr;
  color: var(--ui-gray);
  width: sizing.rems(m) * 16; //16 rems/320 px

  .rose-message-title {
    @include type.type(m, semibold);
    grid-area: title;

    .rose-message-title-text {
      display: inline-block;
    }

    .rose-message-icon {
      display: inline;
      svg {
        vertical-align: top;
        width: sizing.rems(m) * 2; // 40px
      }
    }

    .rose-message-subtitle {
      @include type.type(xs, normal);
      $lineHeight: 16 / 15;
      line-height: $lineHeight; // 16px
      vertical-align: bottom;
    }
  }

  .rose-message-description {
    grid-area: description;
    margin: sizing.rems(xs) 0;
  }

  .rose-message-link {
    @include type.type(xs, semibold);
    text-decoration: none;
    cursor: pointer;
    --color: var(--ui-gray);
    color: var(--color);
    margin: sizing.rems(xs) 0;

    svg {
      vertical-align: top;
      width: sizing.rems(m);
      height: sizing.rems(m);
    }

    &.rose-message-link-left-align {
      grid-area: left-link;
      --color: var(--action);
    }

    &.rose-message-link-right-align {
      grid-area: right-link;
    }

    &:hover {
      --color: var(--action);
    }
  }
}

@media (max-width: media.width(small)) {
  .rose-message {
    grid-template-areas:
      'title'
      'description'
      'right-link'
      'left-link';
    grid-auto-columns: auto 1fr;
  }
}
