{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<h2>
  {{t 'resources.worker.title'}}
  <DocLink @doc='worker' @iconSize='large' />
</h2>
<p>{{t 'resources.worker.description'}}</p>
<Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />