{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<nav class='rose-header-nav' aria-label='header-nav'>
  {{yield
    (hash link=(component 'link-to') dropdown=(component 'rose/dropdown'))
  }}

</nav>