{{page-title (t 'resources.session-recording.channel.title')}}

<Rose::Layout::Page as |page|>
  <page.header>
    <h2>{{t 'resources.session-recording.channel.title'}}</h2>
  </page.header>

  <page.body>
    <Layout::Sidebar as |sb|>
      <sb.Body>
        <SessionRecording::Player @asciiCast={{@model.asciicast}} />
      </sb.Body>

      <sb.Sidebar>
        <p>{{@model.channel_id}}</p>
      </sb.Sidebar>
    </Layout::Sidebar>
  </page.body>
</Rose::Layout::Page>