<a
  class="doc-link"
  href={{doc-url @doc}}
  target="_blank"
  rel="noreferrer noopener"
  title={{t "actions.get-topic-help"}}>
  <Rose::Icon @name="help-circle-outline" @size={{@iconSize}} />
</a>
