/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.rose-metadata-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  &.vertical {
    flex-direction: column;
    row-gap: 1rem;
  }

  .rose-metadata-list-item {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: var(--token-typography-body-200-font-size);
  }
}
