/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

/* stylelint-disable selector-class-pattern */
@use '../../variables/sizing';

// Codemirror overrides
.rose-codemirror-container {
  width: 100%;
}

.CodeMirror {
  max-width: 100%;
  display: flex;
  flex: 1;
  font-family: var(--token-typography-font-stack-code);
}

.rose-autosize {
  .CodeMirror {
    height: auto;
  }
}

.CodeMirror-scroll {
  width: 100%;
}

.CodeMirror-sizer {
  border-right-width: 0 !important;
}

// Toolbar
.rose-code-editor-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--ui-gray-subtler-3);
  height: 2.75rem;

  &__action {
    margin-left: sizing.rems(s);
  }

  &__right-aligned {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__menu {
    margin-right: sizing.rems(s);

    .pds-dropdownTrigger {
      box-shadow: none;

      &__layoutWrapper {
        padding-left: sizing.rems(s);
        padding-right: sizing.rems(s);
      }
    }

    &-divider {
      border-right: 1px solid var(--ui-gray-subtler-3);
      height: sizing.rems(xl);
    }
  }
}
