{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class='branded-card'>
  <h2 class='branded-card-title h1'>{{@title}}</h2>
  <p class='branded-card-description'>{{@description}}</p>
  {{yield}}
</div>