<li class="rose-list-value-item" id={{concat "item-value-" this.id}}>
  {{yield (hash
    cell=(component 'rose/anonymous'
      tagName='div'
      classNames='rose-list-value-item-cell'
    )
  )}}
</li>
