<h2>{{t "resources.projects"}}</h2>

<LinkTo @route="orgs.org.projects.new">{{t "titles.new"}}</LinkTo>

<ul>
  {{#each @model as |project|}}
    <li>
      <LinkTo @route="orgs.org.projects.project" @model={{project}}>
        {{project.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>
