{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='rose-form-errors' id={{@id}} ...attributes>
  {{yield (hash message=(component 'rose/form/errors/message'))}}
</div>