{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<div ...attributes class='rose-header'>
  {{yield
    (hash
      brand=(component 'rose/header/brand')
      utilities=(component 'rose/header/utilities')
      nav=(component 'rose/header/nav')
    )
  }}
</div>