{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'auth.titles.flow-error')}}

<main>
  <Rose::Layout::Centered>
    <Rose::Notification @style='error' @heading={{t 'auth.titles.flow-error'}}>
      {{t 'auth.descriptions.flow-error'}}
      <br />
      <Hds::Copy::Snippet @textToCopy={{@model}} @color='secondary' />
    </Rose::Notification>
  </Rose::Layout::Centered>
</main>