{{page-title (t "auth.titles.flow-error")}}

<main>
  <Rose::Layout::Centered>
    <Rose::Notification
      @style="error"
      @heading={{t "auth.titles.flow-error"}}
    >
      {{t "auth.descriptions.flow-error"}}
    </Rose::Notification>
  </Rose::Layout::Centered>
</main>
