{{page-title (t 'auth.titles.flow-success')}}

<main>
  <Rose::Layout::Centered>
    <Rose::Notification
      @style="success"
      @heading={{t "auth.titles.flow-success"}}
    >
      {{t "auth.descriptions.flow-success"}}
    </Rose::Notification>
  </Rose::Layout::Centered>
</main>
