@use '../variables/sizing';
@use '../utilities/type';
@use '../variables/media';

$l: sizing.rems(l); // 16
$m: sizing.rems(m); // 16
$s: sizing.rems(s); // 12
$xs: sizing.rems(xs); // 8
$xxs: sizing.rems(xxs); // 4
$xxxs: sizing.rems(xxxs); // 2
$xxxxs: sizing.rems(xxxxs); // 1

.rose-frame {
  --headerColor: var(--ui-gray-starker-3);
  --headerIconColor: var(--headerColor);
  --headerBackgroundColor: var(--ui-gray-subtler-5);
  --headerBorderColor: var(--ui-gray-subtler-3);

  @include type.type(s);
  border: $xxxxs solid var(--ui-gray-subtler-3);
  border-radius: $xxxs;
  //margin: $m;
  box-shadow: 0 $xxs $xxs rgba(var(--stark-components), var(--opacity-4));
  background-color: var(--background-color);

  .rose-frame-header {
    padding: ($xs + $xxxs) $l;
    min-height: $l;
    color: var(--headerColor);
    background-color: var(--headerBackgroundColor);
    border-bottom: $xxxxs solid var(--headerBorderColor);
    border-top-left-radius: $xxxs;
    border-top-right-radius: $xxxs;
  }

  .rose-frame-body {
    $bodyPadding: $l;

    padding: $bodyPadding;

    > .rose-separator {
      margin-left: -$bodyPadding;
      margin-right: -$bodyPadding;
    }
  }
}
