{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div
  class='rose-code-editor {{if @class @class}}'
  {{code-editor
    value=@value
    onChange=@onChange
    mode=@mode
    theme=@theme
    lineNumbers=@lineNumbers
    readOnly=@readOnly
    autocomplete=@autocomplete
    lint=@lint
    extensions=@extensions
  }}
  ...attributes
></div>