<section class='card'>
  {{yield
    (hash
      header=(component
        'rose/anonymous' tagName='header' class='card-header'
      )
      body=(component
        'rose/anonymous' tagName='div' class='card-body'
      )
      footer=(component
        'rose/anonymous' tagName='footer' class='card-footer'
      )
    )
  }}
</section>
