<section class='card'>
  <header class='card-header'>
    <div>
      {{#if @icon}}
        <Rose::Icon @name={{@icon}} @size='medium' />
      {{/if}}
      {{@heading}}
    </div>
    {{yield (hash header=(component 'rose/anonymous'))}}
  </header>
  {{yield
    (hash
      body=(component 'rose/anonymous' tagName='div' class='card-body')
      footer=(component 'rose/anonymous' tagName='footer' class='card-footer')
    )
  }}
</section>