<Rose::Layout::Sidebar as |sidebarLayout|>

  {{#if this.session.isAuthenticated}}
    {{#unless @model.isGlobal}}
    <sidebarLayout.sidebar>
      <Rose::Nav::Sidebar @title={{t "titles.general"}} as |nav|>
        <nav.link @route="scopes.scope.projects">
          <Rose::Icon
            @name="app-icons/project"
            @size="medium" />
          {{t "resources.project.title_plural"}}
        </nav.link>
      </Rose::Nav::Sidebar>

      {{outlet "sidebar"}}

    </sidebarLayout.sidebar>
    {{/unless}}
  {{/if}}

  <sidebarLayout.body>
    <main>
      {{outlet}}
    </main>
  </sidebarLayout.body>

</Rose::Layout::Sidebar>
