<div ...attributes class="rose-toolbar">
  {{yield (hash
    search=(component "rose/anonymous" class="rose-toolbar-search")
    filter=(component "rose/anonymous" class="rose-toolbar-filter")
  )}}
</div>