{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div ...attributes class='rose-toolbar'>
  {{yield
    (hash
      primary=(component
        'rose/anonymous' tagName='span' class='rose-toolbar-primary'
      )
      secondary=(component
        'rose/anonymous' tagName='span' class='rose-toolbar-secondary'
      )
    )
  }}
</div>