@use "sass:map";

/**
 * SASS variables defining colors.  These should not be consumed
 * directly. See `_css.scss` for CSS custom properties, which are the primary
 * variables used throughout these stylesheets.
 */

$colors: (
  magenta: #c62a71,
  ui-cool-gray: #7c8797,
  ui-gray: #6f7682,
  purple: #5c4ee5,
  cyan: #00bbff,
  teal: #25ba81,
  green: #2eb039,
  yellow: #fac402,
  orange: #fa8f37,
  blue: #1563ff,
  red: #c73445,
  black: rgb(0, 0, 0),
  white: rgb(255, 255, 255)
) !default;

$color-values: (
  white: (500: map.get($colors, white)),
  black: (500: map.get($colors, black)),
  ui-gray: (
    010: #fbfbfc,
    050: #f7f8fa,
    100: #ebeef2,
    200: #dce0e6,
    300: #bac1cc,
    500: map.get($colors, ui-gray),
    600: #626873,
    800: #373a42,
    900: #1f2124
  ),
  ui-cool-gray: (
    500: map.get($colors, ui-cool-gray),
    800: #1d2126,
    900: #060708
  ),
  green: (
    010: #fafdfa,
    100: #c6e9c9,
    500: map.get($colors, green),
    800: #15501a
  ),
  yellow: (
    010: #fffdf6,
    100: #fdeeba,
    500: map.get($colors, yellow),
    800: #725a01
  ),
  orange: (
    010: #fffcfa,
    100: #fde0c8,
    500: map.get($colors, orange),
    800: #724119
  ),
  blue: (
    010: #fbfcff,
    100: #bfd4ff,
    200: #8ab1ff,
    300: #5b92ff,
    400: #387aff,
    500: map.get($colors, blue),
    600: #0f4fd1,
    700: #0e40a3,
    800: #0a2d74,
    900: #061b46
  ),
  red: (
    010: #fdfafb,
    100: #efc7cc,
    500: map.get($colors, red),
    800: #5b1820
  )
) !default;

// tokens: brand
$brand: (
  black: map.get($colors, black),
  white: map.get($colors, white),
  secondary: map.get($colors, blue),
  gray-7: #f7f7f9,
  gray-6: #dcdde0,
  gray-5: #bdbec2,
  gray-4: #7f7f86,
  gray-3: #4c4c53,
  gray-2: #323339,
  gray-1: #1d1e23
) !default;

// functions to simplify color lookups
@function brand-color($name) {
  @return map.get($brand, $name);
}

@function color($name, $value: 500) {
  @return map.get(map.get($color-values, $name), $value);
}
