{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}
<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.policy.title_plural'}}
    </h2>
    <p>{{t 'resources.policy.description'}}</p>
  </page.header>
</Rose::Layout::Page>