{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<section ...attributes class='rose-layout-global'>
  {{yield
    (hash
      header=(component
        'rose/anonymous' tagName='header' class='rose-layout-global-header'
      )
      body=(component 'rose/anonymous' class='rose-layout-global-body')
      footer=(component 'rose/anonymous' class='rose-layout-global-footer')
    )
  }}
</section>