@use 'sass:map';

$dropdown-chevron: (
  'light':
    "data:image/svg+xml;utf-8,<svg viewBox='0 0 24 24' fill='%23ebeef2' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'></path></svg>",
  'dark':
    "data:image/svg+xml;utf-8,<svg viewBox='0 0 24 24' fill='%231b1f26' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'></path></svg>",
);

@mixin dropdown-style($name, $default) {
  .rose-header-dropdown-#{$name} {
    .rose-header-dropdown-trigger {
      color: map.get($default, color);
      background: url(map.get($dropdown-chevron, map.get($default, chevron)))
        no-repeat right center;
    }
  }
}
