@use '../variables/typography';

/**
 * Mixin for specifying a font-size/line-height size on an element, with
 * an option for specifying weight.
 */
@mixin type($size, $weight: &) {
  font-size: typography.font-size($size);
  line-height: typography.line-height($size);
  @if $weight {
    font-weight: typography.font-weight($weight);
  }
}
