<Rose::Layout::Centered class='choose-path'>
  <Rose::Frame>
    <:header>
      <h2>{{t 'onboarding.choose-path.title'}}</h2>
    </:header>
    <:body>
      <p>{{t 'onboarding.choose-path.description'}}</p>
      <Form::Onboarding::ChoosePath @submit={{route-action 'choosePath'}} />
    </:body>
  </Rose::Frame>
</Rose::Layout::Centered>