{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<h2>
  {{t 'resources.host-set.titles.new'}}
  <DocLink @doc='host-set.new' @iconSize='large' />
</h2>
<p>{{t 'resources.host-set.description'}}</p>