/tmp/

# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/testem.log

# ember-try
/.node_modules.ember-try/
/package.json.ember-try

# broccoli-debug
/DEBUG/

# a11y audit
/ember-a11y-report/