<form
  ...attributes
  novalidate
  method="post"
  class="rose-form"
  autocomplete="off"
  {{on "submit" this.handleSubmit}}
>
  {{yield (hash
    radioGroup=(component 'rose/form/radio/group' disabled=@disabled)
    checkbox=(component 'rose/form/checkbox' disabled=@disabled)
    input=(component 'rose/form/input' disabled=@disabled)
    select=(component 'rose/form/select' disabled=@disabled)
    textarea=(component 'rose/form/textarea' disabled=@disabled)
    actions=(component 'rose/form/actions' disabled=@disabled cancel=@cancel)
  )}}
</form>
