{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<h1>Smoke Test</h1>
<p>
  This template is used by the smoke-test acceptance tests, which validate that
  Ember can start up and basic features work as intended.
</p>

<h2>{{t 'resources.account.title'}}</h2>
<p>{{t 'resources.account.description'}}</p>