{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='secret-editor-skeleton-wrapper'>
  <div class='secret-editor-skeleton-gutter'></div>
  <div class='secret-editor-skeleton-body'>
    <div class='xl'></div>
    <div class='m'></div>
    <div class='l'></div>
    <div class='s'></div>
    <div class='xl'></div>
    <div class='l'></div>
    <div class='m'></div>
    <div class='xl'></div>
    <div class='m'></div>
    <div class='s'></div>
  </div>
  <div class='secret-editor-skeleton-message'>
    {{yield}}
  </div>
</div>