/**
 * Copyright IBM Corp. 2021, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/sizing';
@use '../../utilities/type';

.rose-form-fieldset {
  margin-bottom: sizing.rems(m);

  .rose-form-fieldset-title {
    @include type.type(s);

    font-weight: var(--token-typography-font-weight-semibold);
  }

  .rose-form-fieldset-body {
    display: flex;
  }

  .rose-form-fieldset-description {
    margin: sizing.rems(xxs) 0;
    @include type.type(xs);

    color: var(--ui-gray);
  }
}
