/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../variables/sizing';
@use '../../utilities/type';

.rose-form-helper-text {
  @include type.type(xs);

  display: block;
  color: var(--ui-gray);
  margin-bottom: sizing.rems(xxs);

  &.error {
    color: var(--failure);
  }
}
