{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<h2>
  {{t 'resources.auth-method.title'}}
  {{#if @model.isPrimary}}
    &nbsp;
    <Hds::Badge @text={{t 'states.primary'}} @color='success' />
    &nbsp;
  {{/if}}
  <DocLink @doc='auth-method' @iconSize='large' />
</h2>
<p>{{t 'resources.auth-method.description'}}</p>
<Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />