@use '../../variables/sizing';
@use '../../utilities/type';
@use 'sass:math';

.rose-dropdown-button {
  @include type.type(s);
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: (sizing.rems(m)) * 13;
  border: 0;
  padding: 0 sizing.rems(s);
  text-decoration: none;
  text-align: left;
  $line-height: math.div(36, 14);
  line-height: $line-height;

  --background-color: transparent;
  --color: var(--stark);
  color: var(--color);
  background-color: var(--background-color);

  &:hover {
    --background-color: var(--ui-gray-subtler-5);
  }

  &.rose-dropdown-button-danger {
    --background-color: var(--subtle);
    --color: var(--failure);

    &:hover {
      --color: var(--subtle);
      --background-color: var(--failure);
    }
  }
}
