@use '../../variables/sizing';
@use '../../utilities/type';

$xs: sizing.rems(xs); // 8
$xxs: sizing.rems(xxs); // 4

.rose-dropdown {
  position: relative;
  display: inline-block;

  .rose-dropdown-trigger {
    @include type.type(button, semibold);
    cursor: default;
    overflow: hidden;
    $yPadding: sizing.rems(xxs) + sizing.rems(xxxs);
    padding: $yPadding sizing.rems(xs);
    color: var(--stark);
    border-radius: sizing.rems(xxxs);

    // Hide default twistie triangle
    // Webkit / Chromium
    &::-webkit-details-marker {
      display: none;
    }
    // Firefox
    list-style-type: none;
    &::marker {
      display: none;
    }

    background-size: sizing.rems(m);

    &:hover {
      background-color: var(--ui-gray-subtler-5);
    }

    &.has-icon-only {
      padding-left: sizing.rems(s);
      padding-right: sizing.rems(s);
      background-position: right sizing.rems(xs) center;

      .rose-dropdown-trigger-text {
        position: absolute;
        top: -1000px;
        left: -1000px;
        width: 1px;
        height: 1px;
        opacity: 0;
      }

      .rose-dropdown-trigger-icon {
        margin: 0;
      }
    }

    // Hide default twistie triangle
    // Webkit / Chromium
    &::-webkit-details-marker {
      display: none;
    }
    // Firefox
    list-style-type: none;
    &::marker {
      display: none;
    }

    .rose-dropdown-trigger-caret .rose-icon{
      margin-left: 0;
    }

    .rose-dropdown-trigger-icon {
      margin-right: -(sizing.rems(xs));
    }

    .rose-dropdown-trigger-text {
      padding-left: sizing.rems(xs);
    }
  }

  &[open] > .rose-dropdown-trigger {
    background-color: var(--ui-gray-subtler-4);
  }

  .rose-dropdown-content {
    position: absolute;
    padding: $xxs 0;
    border: 1px solid var(--ui-gray-subtler-2);
    border-radius: sizing.rems(xxxs);
    background: var(--subtle);
    box-shadow: 0 $xxs $xxs rgba(var(--stark-components), var(--opacity-3)),
      0 $xxs $xs rgba(var(--stark-components), var(--opacity-4));
    z-index: 99;
  }

  &.rose-dropdown-right {
    .rose-dropdown-content {
      right: 0;
    }
  }

  .rose-dropdown-separator {
    background-color: var(--ui-gray-subtler-3);
    height: sizing.rems(xxxxs);
    border: none;
    margin: $xxs 0;
  }
}
