@use '../../variables/sizing';

.rose-dropdown-key-value {
  .rose-dropdown-key {
    text-transform: capitalize;
  }
  .rose-dropdown-value {
    color: var(--ui-gray);
    padding: sizing.rems(xxs) sizing.rems(s) 0 0;
  }
}
