@use '../../variables/sizing';
@use '../../variables/media';

$xxs: sizing.rems(xxs); // 4
$xxxxs: sizing.rems(xxxxs); // 1

.rose-toolbar {
  background-color: var(--ui-gray-subtler-6);
  padding: $xxs + $xxxxs;

  button {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
  }
}
