{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<@header.Title>
  {{t 'resources.host.title'}}
  <DocLink @doc='host' />
</@header.Title>
<@header.Description>
  {{t 'resources.host.description'}}
</@header.Description>
<@header.Generic>
  <div class='code-snippet-container'>
    <Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />
  </div>
</@header.Generic>