@use 'rose/variables/sizing';
@use 'rose/variables/media';

@import 'rose';
@import 'notify';

.rose-layout-global {
  .rose-layout-global-body {
    justify-content: center;
  }
}

.rose-layout-centered {
  > .rose-layout-page {
    width: sizing.rems(l) * 18;
  }

  @media (max-width: media.width(small)) {
    display: block;

    > .rose-layout-page {
      width: auto;
    }
  }
}

.rose-nav-sidebar {
  margin-top: sizing.rems(xxl);

  & + .rose-nav-sidebar {
    margin-top: 0;
  }

  .rose-icon {
    margin-right: sizing.rems(xs);
  }
}

.rose-form {
  &:not(.full-width) {
    width: 66%;
  }

  .rose-form-input {
    width: 100%;

    .rose-form-input-field {
      width: 100%;
    }
  }

  .rose-dropdown {
    $icon-width: sizing.rems(m) + sizing.rems(s);
    $indent: $icon-width + sizing.rems(xs);

    .rose-form-radio-label {
      display: flex;

      .rose-icon {
        padding-right: sizing.rems(xxs);
      }
    }

    .indent-label-1 {
      .rose-form-radio-label {
        padding-left: $indent;
      }
    }

    .indent-label-2 {
      .rose-form-radio-label {
        padding-left: $indent + $icon-width;
      }
    }

    .is-project {
      .rose-icon {
        visibility: hidden;
      }
    }
  }

  .rose-form-fieldset {
    .rose-table {
      .rose-form-label {
        left: -9999px;
        position: absolute;
        top: -9999px;
      }
    }
  }
}

.rose-table {
  p {
    margin-bottom: 0;
  }

  .rose-table-header-cell {
    p {
      color: var(--ui-gray-subtler-1);
      font-weight: normal;
    }
  }

  .rose-form-checkbox {
    margin-bottom: 0;

    .rose-form-checkbox-label-text {
      color: var(--stark);
      text-decoration: underline;
    }
  }
}

.rose-header {
  position: relative;

  .logotype {
    display: none;
  }

  .rose-dropdown {
    .rose-icon {
      transform: scale(0.7);
    }
  }

  &.loading {
    &::after {
      // animation: gradient 1s linear infinite;
      // background: repeating-linear-gradient(
      //   to right,
      //   var(--subtle),
      //   var(--subtle),
      //   var(--info),
      //   var(--subtle),
      //   var(--subtle)
      // );
      background-position: -100% 0;
      background-size: 200% auto;
      content: ' ';
      height: 3px;
      left: 0;
      position: absolute;
      right: 0;
      top: 100%;

      @keyframes gradient {
        0% {
          background-position: -100% 0;
        }

        100% {
          background-position: -200% 0;
        }
      }
    }
  }
}

.rose-frame {
  .rose-form-actions {
    .rose-button-primary {
      display: block;
      margin: 0;
      width: 100%;

      .rose-button-wrapper {
        display: inline;
      }
    }
  }
}

.rose-dialog-cover {
  svg {
    max-width: 20rem;
  }
}

.copyable {
  white-space: nowrap;

  .copyable-button {
    margin: 0;
    padding: 0 sizing.rems(xxs);
    position: relative;
    top: -2px;
  }

  mark {
    animation: fadeBackground 0.75s linear;
    background-color: transparent;
    color: inherit;

    @keyframes fadeBackground {
      0% {
        background-color: var(--action-subtler-1);
      }

      100% {
        background-color: transparent;
      }
    }
  }
}

[class*='session-status-'] {
  color: var(--ui-gray-subtler-2);
}

.session-status-active {
  color: var(--success);
}

.nowrap {
  white-space: nowrap;
}

// Spinning animation for refresh button icon
@media (prefers-reduced-motion: no-preference) {
  .is-loading {
    .rose-icon {
      @keyframes hds-flight-icon-animation-rotation {
        to {
          transform: rotate(360deg);
        }
      }

      > svg {
        animation: hds-flight-icon-animation-rotation 0.7s linear infinite;
      }
    }
  }
}

//onboarding quick setup styles
.choose-path {
  display: block;
  width: sizing.rems(xl) * 15;
}

.choose-path-cards {
  display: flex;
  justify-content: space-between;
}

.create-resources {
  display: block;
  width: sizing.rems(xl) * 15;

  .rose-form-fieldset {
    margin-top: sizing.rems(xl);
  }

  .rose-frame-body {
    p {
      color: var(--ui-gray);
    }
  }
}

.create-resource-cards {
  display: flex;
  justify-content: space-between;

  .rose-form-input {
    width: sizing.rems(xl) * 6;
  }
}

.onboarding-quick-setup-success {
  display: block;
  width: min-content;

  .rose-frame-header {
    padding: sizing.rems(l);
  }

  h2 {
    font-weight: 700;
    line-height: 24px;
    margin: 0;
  }

  h4 {
    font-weight: 700;
    line-height: 19px;
  }

  a {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }
}

.onboarding-quick-setup-success-role {
  span {
    display: flex;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin-left: sizing.rems(xs);
    margin-top: 0;
  }

  .rose-icon {
    color: var(--success);
  }
}

.onboarding-quick-setup-success-sub-title {
  display: inline-flex;

  h3 {
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin-left: sizing.rems(xs);
    margin-top: sizing.rems(xxs);
  }

  .rose-icon {
    margin-bottom: sizing.rems(xs);
  }
}

.onboarding-quick-setup-success-link {
  display: block;
  margin-top: sizing.rems(xs);
  text-decoration: none;
}

.onboarding-quick-setup-success-image {
  margin-bottom: sizing.rems(xl);
  margin-top: sizing.rems(l);
}

.onboarding-quick-setup-success-button {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: sizing.rems(xl);
  width: 100%;
}

.onboarding-quick-setup-success-controller {
  margin-top: sizing.rems(l);

  h4 {
    font-weight: 600;
    line-height: 18px;
    margin-bottom: sizing.rems(xxs);
  }

  p {
    color: var(--ui-gray);
    margin-bottom: sizing.rems(xxs);
  }
}

.onboarding-quick-setup-success-controller-url {
  border: sizing.rems(xxxxs) solid var(--ui-gray-subtler-2);
  border-radius: sizing.rems(xxxs);
  color: var(--action);
  height: (sizing.rems(xs) * 5);

  .copyable {
    display: flex;
    justify-content: space-between;
    padding: sizing.rems(s);
  }

  .rose-icon {
    margin: 0;
  }

  .copyable-button {
    top: -4px;
  }
}

.onboarding-quick-setup-success-developers {
  p {
    margin-bottom: sizing.rems(s);
    margin-top: sizing.rems(xs);
  }
}
