@use '../../variables/sizing';
@use '../../utilities/type';

.rose-form-input {
  margin-bottom: sizing.rems(m);
}

.rose-input-icon-wrapper {
  position: relative;
  .rose-icon.medium {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .rose-form-input-field {
    padding-left: 30px;
  }
}

.rose-form-input-field {
  @include type.type(m);
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: sizing.rems(xs);
  padding: sizing.rems(xs);
  color: var(--stark);
  background-color: var(--subtle);
  border: sizing.rems(xxxxs) solid var(--ui-gray-subtler-2);
  border-radius: sizing.rems(xxxs);
  box-shadow: inset 0px 3px 1px rgba(var(--stark-components), var(--opacity-4));

  &.error {
    color: var(--failure);
    border-color: currentColor;
  }

  &:not(:disabled):not([readonly]) {
    &:hover {
      border-color: var(--ui-gray);
    }

    &:focus {
      border-color: var(--info);
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--ui-gray);
    background-color: var(--ui-gray-subtler-6);
  }

  &[readonly] {
    border-color: transparent;
    box-shadow: none;
  }
}
