@use '../../variables/sizing';
@use '../../utilities/type';
@use '../../variables/typography';

$l: sizing.rems(l); // 16
$m: sizing.rems(m); // 16
$size-xs: sizing.rems(xs); // 8
$size-xxs: sizing.rems(xxs); // 4
$size-xxxs: sizing.rems(xxxs); // 2
$size-xxxxs: sizing.rems(xxxxs); // 1

.rose-form-radio-card-wide {
  position: relative;
  display: flex;
  align-items: center;
  width: ($m) * 23;
  justify-content: center;

  .radio-card-overlay {
    position: absolute;
    height: $l + $size-xxs;
    background-color: var(--ui-gray-subtler-5);
    width: 100%;
    bottom: 1px;
    right: 0;
  }
  .rose-form-radio-label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    width: ($m) * 23;
    height: ($m) * 7.5;
    display: block;
    position: relative;
    text-align: left;
    word-break: break-all;
    border: 1px solid #bac1cc;
    box-shadow: 0 $size-xxs $size-xxs
      rgba(var(--stark-components), var(--opacity-2));
    border-radius: 2px;
    padding: 19px;
    box-sizing: border-box;
    background-color: var(--white);
  }
  .rose-form-radio-field {
    position: absolute;
    z-index: 1;
    bottom: $size-xs;
    &:not(:disabled) {
      &:hover {
        ~ .rose-form-radio-label {
          border: 1px solid var(--ui-gray);
        }
      }
      &:checked {
        ~ .rose-form-radio-label {
          .radio-card-overlay {
            background-color: var(--action-subtler-1h);
          }
          border: 1px solid #1563ff;
        }
      }
    }

    &:disabled {
      ~ .rose-form-radio-label {
        border: 1px solid var(--ui-border-subtler-1);
        background-color: var(--ui-gray-subtler-6);
        color: var(--ui-gray-starker-1);
      }
    }
  }

  &.error {
    color: var(--failure);
    .rose-form-radio-field {
      &:not(:disabled):not(:focus) {
        ~ .rose-form-radio-label {
          .radio-card-overlay {
            background-color: var(--failure--subtler-1);
          }
          border: $xxxxs solid #c73445;
        }
        &:checked {
          opacity: 0;
          ~ .rose-form-radio-label {
            &::after {
              position: absolute;
              bottom: 5px;
              right: 174px;
              display: block;
              width: $m;
              height: $m;
              transform: scale(2);
              pointer-events: none;
              content: ' ';
              background: no-repeat 50%/50% 50%;
              background-image: url($data-svg-prefix + map-get(
                  $radio-svg,
                  'error-checked'
                ));
              z-index: 2;
            }
          }
        }
      }
    }
  }
}

.rose-form-radio-card-tile {
  position: relative;
  display: flex;
  align-items: center;
  width: ($m) * 15;
  justify-content: center;

  .radio-card-overlay {
    position: absolute;
    height: $l + $size-xxs;
    background-color: var(--ui-gray-subtler-5);
    width: 100%;
    bottom: 1px;
    right: 0;
  }
  .rose-form-radio-label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    width: ($m) * 15;
    height: ($m) * 9;

    display: block;
    position: relative;
    text-align: left;
    word-break: break-all;
    border: $xxxxs solid var(--ui-border);
    box-shadow: 0 $size-xxs $size-xxs
      rgba(var(--stark-components), var(--opacity-2));
    border-radius: 2px;
    padding: 19px;
    box-sizing: border-box;
    background-color: var(--white);
  }
  .rose-form-radio-field {
    position: absolute;
    z-index: 1;
    bottom: $size-xs;
    &:not(:disabled) {
      &:hover {
        ~ .rose-form-radio-label {
          border: $xxxxs solid var(--ui-gray);
        }
      }
      &:checked {
        ~ .rose-form-radio-label {
          .radio-card-overlay {
            background-color: var(--action-subtler-1h);
          }
          border: $xxxxs solid #1563ff;
        }
      }
    }
    &:disabled {
      ~ .rose-form-radio-label {
        border: $xxxxs solid var(--ui-border-subtler-1);
        background-color: var(--ui-gray-subtler-6);
        color: var(--ui-gray-starker-1);
      }
    }
  }

  &.error {
    color: var(--failure);
    .rose-form-radio-field {
      &:not(:disabled):not(:focus) {
        ~ .rose-form-radio-label {
          .radio-card-overlay {
            background-color: var(--failure--subtler-1);
          }
          border: $xxxxs solid #c73445;
        }
        &:checked {
          opacity: 0;
          ~ .rose-form-radio-label {
            &::after {
              position: absolute;
              bottom: $size-xxs;
              right: 109px;
              display: block;
              width: $m;
              height: $m;
              transform: scale(2);
              pointer-events: none;
              content: ' ';
              background: no-repeat 50%/50% 50%;
              background-image: url($data-svg-prefix + map-get(
                  $radio-svg,
                  'error-checked'
                ));
              z-index: 2;
            }
          }
        }
      }
    }
  }
}
