{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<li class='ordered-series-diagram-item'>

  <div class='ordered-series-diagram-item-content'>
    <Hds::IconTile @icon={{@icon}} @size='large' @color='hcp' />
    <Hds::Text::Body
      @weight='semibold'
      @size='300'
      class='ordered-series-diagram-item-title'
    >
      {{yield}}
    </Hds::Text::Body>
  </div>

  <div class='ordered-series-diagram-separator-icon'>
    {{!
      Separator icon is not configurable, but potentially could be.
    }}
    <Hds::Icon @name='arrow-right' @size='24' @isInline={{true}} />
  </div>

</li>