<p>{{t 'descriptions.account-settings-overview'}}</p>

<Form::Account::Password::SetPassword
  @model={{@model}}
  @submit={{route-action "savePassword" @model}}
  @cancel={{route-action "cancel" @model}}
/>
