/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

/**
 * Defines the opacity CSS custom properties that should be used throughout
 * these stylesheets.
 */

// Light Mode
@mixin light-mode {
  --opacity-5: 0.025;
  --opacity-4: 0.05;
  --opacity-3: 0.1;
  --opacity-2: 0.25;
  --opacity-1: 0.5;
}

// Dark Mode
// Subtler opacities look better in dark mode, so these are halved compared to
// light mode.
@mixin dark-mode {
  --opacity-5: 0.0125;
  --opacity-4: 0.0125;
  --opacity-3: 0.025;
  --opacity-2: 0.025;
  --opacity-1: 0.125;
}

// Light mode is the default, hence it is applied to `html` by default
.ember-application,
.ember-application.rose-theme-light {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  .ember-application {
    @include dark-mode;
  }
}

.ember-application.rose-theme-dark {
  @include dark-mode;
}
