{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}
<div ...attributes>
  {{yield
    (hash
      KeyValue=(component 'list-wrapper/key-value')
      TextInput=(component 'list-wrapper/text-input')
    )
  }}
</div>