<section ...attributes class="rose-layout-global">
  {{yield (hash
    header=(component "rose/anonymous" tagName="header" class="rose-layout-global-header")
    body=(component "rose/anonymous" class="rose-layout-global-body")
  )}}
</section>
