<div ...attributes class="rose-layout-global">
  {{yield (hash
    header=(component 'rose/layout/global/header')
    body=(component 'rose/layout/global/body')
    navigation=(component 'rose/layout/global/navigation')
  )}}
</div>
