<div ...attributes class="rose-layout-global">
  {{yield (hash
    header=(component "rose/anonymous" tagName="header" class="rose-layout-global-header")
    sidebar=(component "rose/anonymous" tagName="aside" class="rose-layout-global-sidebar")
    body=(component "rose/anonymous" tagName="main" class="rose-layout-global-body")
  )}}
</div>
