<div ...attributes class="rose-layout-page">
  {{yield (hash
    header=(component 'rose/layout/page/header')
    main=(component 'rose/layout/page/main')
    sidebar=(component 'rose/layout/page/sidebar')
  )}}
</div>
