<div ...attributes class="rose-layout-page">
  {{yield (hash
    breadcrumbs=(component 'rose/layout/page/breadcrumbs')
    header=(component 'rose/layout/page/header')
    actions=(component 'rose/layout/page/actions')
    navigation=(component 'rose/layout/page/navigation')
    body=(component 'rose/layout/page/body')
  )}}
</div>
