{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<li class='rose-metadata-list-item {{concat "hds-foreground-" @color}}'>
  {{#if @icon}}
    <Hds::Icon @name={{@icon}} />
  {{/if}}
  {{yield}}
</li>