{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<li class='rose-metadata-list-item {{(concat "hds-foreground-" @color)}}'>
  {{#if @icon}}
    <FlightIcon @name={{@icon}} />
  {{/if}}
  {{yield}}
</li>