@use 'rose/variables/sizing';

@import 'rose';
@import 'notify';

.rose-nav-sidebar {
  margin-top: sizing.rems(xxl);
}

.rose-form {
  width: 66%;

  .rose-form-input {
    width: 100%;

    .rose-form-input-field {
      width: 100%;
    }
  }
}

.projects-overview {
  margin: sizing.rems(l);

  .projects {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    flex-wrap: wrap;

    .project {
      display: flex;
      flex-direction: row;
      padding: 10px 10px 10px 0;
    }
  }

  .rose-layout-page-actions {
    align-self: center;
  }
}

.project-overview,
.project-new {
  margin: sizing.rems(l);

  .breadcrumbs,
  .breadcrumbs a {
    color: #6f7682;
    text-decoration: none;
  }

  .project-new-form {
    .form-actions {
      display: flex;
      flex-direction: row;
      position: relative;
      float: right;

      button {
        margin-right: 10px;
      }
    }

    input,
    textarea {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
