{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<h2>
  {{t 'resources.credential-store.titles.edit-worker-filter.title'}}
  <DocLink @doc='worker-filters-format' @iconSize='large' />
</h2>
<p>{{t 'resources.credential-store.titles.edit-worker-filter.description'}}</p>