@use '../../variables/sizing';
@use '../../utilities/type';

.rose-table {
  @include type.type(s, normal);
  width: 100%;

  .rose-table-header {
    text-align: left;

    .rose-table-header-cell {
      padding: sizing.rems(s) sizing.rems(xs);
      color: var(--ui-gray);
    }
  }

  .rose-table-row {
    border: sizing.rems(xxxxs) solid var(--ui-border-subtler-1);
    border-left: none;
    border-right: none;
  }

  .rose-table-body-cell, .rose-table-footer-cell {
    padding: sizing.rems(s) sizing.rems(xs);
  }
}
