@use '../../variables/sizing';
@use '../../utilities/type';

.rose-table {
  @include type.type(xs, normal);
  width: 100%;

  .rose-table-header {
    background-color: var(--ui-gray-subtler-5);
    text-align: left;
  }

  .rose-table-cell {
    border: sizing.rems(xxxxs) solid var(--ui-gray-subtler-3);
    padding: sizing.rems(xs) sizing.rems(xxs);
  }
}
