@use '../../variables/sizing';
@use '../../utilities/type';
@use 'sass:math';

.rose-table {
  @include type.type(s, normal);
  width: 100%;

  .rose-table-row {
    border-bottom: sizing.rems(xxxxs) solid var(--ui-gray-subtler-3);
    text-align: left;

    &:last-child {
      border-bottom: 0;
    }
  }

  // This styles are add to stop the input to apply extra margin (default on forms)
  .rose-form-input,
  .rose-form-input-field,
  .rose-form-select,
  .rose-form-select-field {
    margin: 0;
    width: 100%;
  }

  // Fix margin issue with textarea elements inside tables
  textarea {
    display: block;
  }

  .rose-table-cell,
  .rose-table-header-cell {
    vertical-align: text-top;

    &.align-right {
      text-align: right;
    }
    &.align-center {
      text-align: center;
    }
  }

  .rose-table-header-cell {
    @include type.type(s, semibold);
  }

  .rose-table-header .rose-table-header-cell {
    color: var(--ui-gray);
  }

  .rose-table-header,
  .rose-table-footer {
    .rose-table-cell,
    .rose-table-header-cell {
      padding: sizing.rems(s);
    }
  }

  .rose-table-body {
    .rose-table-cell,
    .rose-table-header-cell {
      padding: sizing.rems(l) sizing.rems(s);
    }
  }

  .rose-table-cell-shrink {
    width: 1%;
    white-space: nowrap;
  }

  [class*='rose-button'] {
    margin-bottom: 0;
  }

  &.rose-table-condensed {
    .rose-table-cell,
    .rose-table-header-cell {
      @include type.type(s);
      $lineHeight: math.div(36, 14);
      line-height: $lineHeight;
      padding: sizing.rems(xxs) + sizing.rems(xxxxs) sizing.rems(s);

      &:first-child {
        padding-left: 0;
      }
    }
    .rose-table-header {
      border-bottom: sizing.rems(xxxxs) solid var(--ui-gray-subtler-3);
      .rose-table-header-cell {
        $lineHeight: math.div(16, 14);
        line-height: $lineHeight;
        padding: sizing.rems(xs) sizing.rems(s);
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  .rose-table-row-visually-hidden {
    position: absolute;
    top: -9999rem;
    left: -9999rem;
  }
}
