@use '../../variables/sizing';
@use '../../utilities/type';

.rose-table {
  @include type.type(s, normal);
  width: 100%;

  .rose-table-row {
    border-bottom: sizing.rems(xxxxs) solid var(--ui-gray-subtler-3);
    text-align: left;
  }

  // This styles are add to stop the input to apply extra margin (default on forms)
  .rose-form-input-field,
  .rose-form-select,
  .rose-form-input {
    margin: 0;
    width: 100%;
  }

  .rose-table-cell,
  .rose-table-header-cell {
    vertical-align: middle;

    &.align-right {
      text-align: right;
    }
    &.align-center {
      text-align: center;
    }
  }

  .rose-table-header-cell {
    @include type.type(s, semibold);
    color: var(--ui-gray);
  }

  .rose-table-header,
  .rose-table-footer {
    .rose-table-cell,
    .rose-table-header-cell {
      padding: sizing.rems(s);
    }
  }

  .rose-table-body {
    .rose-table-cell,
    .rose-table-header-cell {
      padding: sizing.rems(l) sizing.rems(s);
    }
  }

  .rose-table-cell-shrink {
    width: 1%;
    white-space: nowrap;
  }

  [class*='rose-button'] {
    margin-bottom: 0;
  }

  &.rose-table-condensed {
    .rose-table-cell {
      @include type.type(s);
      $lineHeight: 36 / 14;
      line-height: $lineHeight;
      padding: (sizing.rems(s) / 2) sizing.rems(s);
    }
  }

  .rose-table-row-visually-hidden {
    position: absolute;
    top: -9999rem;
    left: -9999rem;
  }
}
