@use '../../variables/sizing';
@use '../../utilities/type';
@use 'sass:math';

.rose-dropdown-section {
  .rose-dropdown-section-title {
    @include type.type(xs, normal);
    text-transform: uppercase;
    padding: 0 sizing.rems(s);
    margin: 0;
    $line-height: math.div(36, 14);
    line-height: $line-height;
    color: var(--ui-gray);
  }
}
