@import '@hashicorp/design-system-components';

@mixin light-mode {
  // base palette
  // --token-color-palette-neutral-700: #0c0c0e;
  // --token-color-palette-neutral-600: #3b3d45;
  // --token-color-palette-neutral-500: #656a76;
  // --token-color-palette-neutral-400: #8c909c;
  // --token-color-palette-neutral-300: #c2c5cb;
  // --token-color-palette-neutral-200: #dedfe3;
  // --token-color-palette-neutral-100: #f1f2f3;
  // --token-color-palette-neutral-50: #fafafa;
  // --token-color-palette-neutral-0: #ffffff;

  // form fields
  --token-form-label-color: var(--token-color-palette-neutral-700);
  --token-form-legend-color: var(--token-color-palette-neutral-700);
  --token-form-helper-text-color: var(--token-color-palette-neutral-500);
  --token-form-indicator-optional-color: var(--token-color-palette-neutral-500);
  --token-form-error-color: #c00005;
  --token-form-control-base-foreground-value-color: var(--token-color-palette-neutral-700);
  --token-form-control-base-foreground-placeholder-color: var(--token-color-palette-neutral-500);
  --token-form-control-base-surface-color-default: var(--token-color-palette-neutral-0);
  --token-form-control-base-surface-color-hover: var(--token-color-palette-neutral-100);
  --token-form-control-base-border-color-default: var(--token-color-palette-neutral-400);
  --token-form-control-base-border-color-hover: var(--token-color-palette-neutral-500);
  --token-form-control-checked-foreground-color: var(--token-color-palette-neutral-0);

  // --token-form-control-checked-surface-color-default: #1060ff;
  // --token-form-control-checked-surface-color-hover: #0c56e9;
  // --token-form-control-checked-border-color-default: #0c56e9;
  // --token-form-control-checked-border-color-hover: #0046d1;
  // --token-form-control-invalid-border-color-default: #c00005;
  // --token-form-control-invalid-border-color-hover: #940004;

  --token-form-control-readonly-foreground-color: var(--token-color-palette-neutral-600);
  --token-form-control-readonly-surface-color: var(--token-color-palette-neutral-100);
  --token-form-control-readonly-border-color: var(--token-color-palette-neutral-500);
  --token-form-control-disabled-foreground-color: var(--token-color-palette-neutral-400);
  --token-form-control-disabled-surface-color: var(--token-color-palette-neutral-50);
  --token-form-control-disabled-border-color: var(--token-color-palette-neutral-500);
}

@mixin dark-mode {
  --token-color-palette-neutral-700: #ffffff;
  --token-color-palette-neutral-600: #fafafa;
  --token-color-palette-neutral-500: #f1f2f3;
  --token-color-palette-neutral-400: #dedfe3;
  --token-color-palette-neutral-300: #c2c5cb;
  --token-color-palette-neutral-200: #8c909c;
  --token-color-palette-neutral-100: #656a76;
  --token-color-palette-neutral-50: #3b3d45;
  --token-color-palette-neutral-0: #0c0c0e;

  --token-form-control-base-border-color-default: var(--token-color-palette-neutral-300);

  --token-form-control-disabled-border-color: var(--token-color-palette-neutral-300);
  --token-form-control-disabled-surface-color: var(--token-color-palette-neutral-50);
}

// Light mode is the default, hence it is applied to `html` by default
.ember-application,
.ember-application.rose-theme-light {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  .ember-application {
    @include dark-mode;
  }
}

.ember-application.rose-theme-dark {
  @include dark-mode;
}
