.rose-layout-global {
  min-height: 100vh;
  display: grid;
  grid-template-columns: #{sizing.rems(m) * 16} 1fr;
  grid-template-rows: auto 1fr auto;

  .rose-layout-global-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .rose-layout-global-body {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
  }

  .rose-layout-global-footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
