.rose-layout-global {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .rose-layout-global-body {
    flex: 1;
    display: flex;
  }

  .rose-layout-global-footer {
    display: none;
  }
}
