@use '../../variables/sizing';
@use '../../variables/media';

.rose-layout-global {
  display: grid;
  grid-template-areas:
    'header header header header'
    'navigation body body body';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;

  .rose-layout-global-body {
    grid-area: body;
    padding: sizing.rems(l);
  }

  .rose-layout-global-header {
    grid-area: header;
  }

  .rose-layout-global-sidebar {
    grid-area: navigation;
    border-right: sizing.rems(xxxxs) solid var(--ui-border-subtler-1);
  }
}

@media (max-width: media.width(small)) {
  .rose-layout-global {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto 1fr;
    grid-template-areas:
      'header'
      'navigation'
      'body';
    padding-bottom: 0;
  }
}
