@use '../../variables/media';

.rose-layout-page-header {
  display: grid;
  grid-template-areas: 'title title utilities';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;

  .rose-page-header-utilities {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@media (max-width: media.width(small)) {
  .rose-layout-page-header {
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'utilities';
  }
}
