/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

@use 'sass:map';

/**
 * SASS variables defining colors.  These should not be consumed
 * directly. See `_css.scss` for CSS custom properties, which are the primary
 * variables used throughout these stylesheets.
 */

$colors: (
  magenta: #c62a71,
  ui-cool-gray: #7c8797,
  ui-gray: #6f7682,
  purple: #5c4ee5,
  cyan: #0bf,
  teal: #25ba81,
  green: #2eb039,
  yellow: #fac402,
  orange: #fa8f37,
  blue: #1563ff,
  red: #c73445,
  black: rgb(0, 0, 0),
  white: rgb(255, 255, 255),
) !default;
$color-values: (
  white: (
    500: map.get($colors, white),
  ),
  black: (
    500: map.get($colors, black),
  ),
  ui-gray: (
    010: #fbfbfc,
    050: #f7f8fa,
    100: #ebeef2,
    200: #dce0e6,
    300: #bac1cc,
    400: #8e96a3,
    500: map.get($colors, ui-gray),
    600: #626873,
    700: #525761,
    800: #373a42,
    900: #1f2124,
    950: #15171c,
  ),
  ui-cool-gray: (
    010: #fdfdfe,
    050: #f7fafc,
    100: #ebeef5,
    200: #d3dbe5,
    300: #b4bdcc,
    400: #949fb0,
    500: map.get($colors, ui-cool-gray),
    600: #5a6370,
    700: #3c434d,
    800: #1d2126,
    900: #060708,
  ),
  green: (
    010: #fafdfa,
    050: #ecf7ed,
    100: #c6e9c9,
    200: #a0dba5,
    300: #7acc81,
    400: #54be5d,
    500: map.get($colors, green),
    600: #26912f,
    700: #1e7125,
    800: #15501a,
    900: #0d3010,
  ),
  yellow: (
    010: #fffdf6,
    050: #fffbed,
    100: #fdeeba,
    200: #fce48c,
    300: #fbd95e,
    400: #face30,
    500: map.get($colors, yellow),
    600: #cda102,
    700: #a07d02,
    800: #725a01,
    900: #453601,
  ),
  orange: (
    010: #fffcfa,
    050: #fef4ec,
    100: #fde0c8,
    200: #fccca4,
    300: #fbb77f,
    400: #faa35b,
    500: map.get($colors, orange),
    600: #cd762e,
    700: #a05c23,
    800: #724119,
    900: #45270f,
  ),
  blue: (
    010: #fbfcff,
    050: #f0f5ff,
    100: #bfd4ff,
    200: #8ab1ff,
    300: #5b92ff,
    400: #387aff,
    500: map.get($colors, blue),
    600: #0f4fd1,
    700: #0e40a3,
    800: #0a2d74,
    900: #061b46,
  ),
  red: (
    010: #fdfafb,
    050: #f9ecee,
    100: #efc7cc,
    200: #e5a2aa,
    300: #db7d88,
    400: #d15866,
    500: map.get($colors, red),
    600: #a32b39,
    700: #7f222c,
    800: #5b1820,
    900: #370f13,
  ),
) !default;

// tokens: brand
$brand: (
  black: map.get($colors, black),
  white: map.get($colors, white),
  secondary: map.get($colors, blue),
  gray-7: #f7f7f9,
  gray-6: #dcdde0,
  gray-5: #bdbec2,
  gray-4: #7f7f86,
  gray-3: #4c4c53,
  gray-2: #323339,
  gray-1: #1d1e23,
) !default;

// functions to simplify color lookups
@function brand-color($name) {
  @return map.get($brand, $name);
}

@function color($name, $value: 500) {
  @return map.get(map.get($color-values, $name), $value);
}
