{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class='rose-form-actions' ...attributes>
  <Hds::Button
    @text={{@enableEditText}}
    @color='secondary'
    {{on 'click' @enableEdit}}
  />
</div>