{{!--
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
--}}

<div class='rose-form-actions' ...attributes>
  <Rose::Button @style='secondary' {{on 'click' @enableEdit}}>
    {{@enableEditText}}
  </Rose::Button>
</div>