<details ...attributes class='reveal'>
  <summary class='reveal-trigger'>
    <span class='reveal-trigger-text-close'>
      {{@textWhenClose}}
    </span>
    <span class='reveal-trigger-text-open'>
      {{@textWhenOpen}}
    </span>

  </summary>
  <content class='reveal-content'>
    {{yield}}
  </content>
</details>