<header class="global-header">
  <svg class="global-header-logo" width="30" height="30" viewBox="0 0 30 30">
    <use href="logo.svg#logomark" />
  </svg>
</header>

<main>
  <button class="button-primary" type="button">Primary</button>
  <br>
  <button class="button-primary" type="button" disabled>Primary</button>

  <br>

  <button class="button-secondary" type="button">Secondary</button>
  <br>
  <button class="button-secondary" type="button" disabled>Secondary</button>
</main>
