<div data-test-code-editor>
  {{yield
    (hash
      FieldEditor=(component 'rose/code-editor/field-editor' value=@codeValue)
      Toolbar=(component 'rose/code-editor/toolbar' copyText=@codeValue)
    )
  }}
</div>