{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div data-test-code-editor>
  {{yield
    (hash
      fieldEditor=(component 'rose/code-editor/field-editor' value=@codeValue)
      toolbar=(component 'rose/code-editor/toolbar' copyText=@codeValue)
    )
  }}
</div>