{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div ...attributes class='rose-layout-page'>
  {{yield
    (hash
      breadcrumbs=(component
        'rose/anonymous' class='rose-layout-page-breadcrumbs'
      )
      header=(component 'rose/anonymous' class='rose-layout-page-header')
      actions=(component 'rose/anonymous' class='rose-layout-page-actions')
      navigation=(component
        'rose/anonymous' class='rose-layout-page-navigation'
      )
      body=(component 'rose/anonymous' class='rose-layout-page-body')
    )
  }}
</div>