.rose-header-utilities {
  grid-area: utilities;

  .rose-header-utilities-flex {
    margin-right: sizing.rems(s);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}

.rose-header-nav,
.rose-header-utilities {
  .rose-header-dropdown {
    .rose-header-dropdown-content {
      position: absolute;
      background-color: var(--white);
      border-radius: sizing.rems(xxxs);
      border: 1px solid var(--ui-gray-subtler-2);
      padding-right: sizing.rems(xl);
      margin-top: sizing.rems(xxxs);

      &.rose-header-dropdown-content-right {
        right: sizing.rems(s);
      }
    }
  }
}
