@use '../../variables/sizing';
@use '../../utilities/type';
@use '../../utilities/dropdown';

@include dropdown.dropdown-style(
  'light',
  (
    color: var(--white),
    chevron: 'light',
  )
);

@include dropdown.dropdown-style(
  'dark',
  (
    color: var(--black),
    chevron: 'dark',
  )
);

.rose-header-utilities {
  margin-right: sizing.rems(s);

  .rose-dropdown-trigger {
    background-size: sizing.rems(m);
    padding-right: sizing.rems(l) - sizing.rems(xxs);
    $lineHeight: 48 / 16;
    line-height: $lineHeight;

    .rose-icon {
      --size: #{sizing.rems(l)};
    }

    .rose-icon {
      display: inline-block;
      height: var(--size);

      > svg {
        vertical-align: top;
      }
    }

    &:hover {
      background-color: unset;
    }
  }
}
