@use '../../variables/sizing';
@use '../../utilities/type';

.rose-header-utilities,
.rose-header-nav {
  margin-right: sizing.rems(s);

  .rose-dropdown-trigger {
    background-size: sizing.rems(m);
    $lineHeight: 48 / 16;
    line-height: $lineHeight;

    .rose-icon {
      --size: #{sizing.rems(l)};
    }

    .rose-icon {
      display: inline-block;
      height: var(--size);

      > svg {
        vertical-align: top;
      }
    }

    &:hover, &:focus {
      background-color: unset;
    }
  }
}
