/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@use '../../../variables/sizing';
@use '../../../utilities/type';

.rose-form-error-message {
  @include type.type(xs);

  color: var(--failure);
  margin-bottom: sizing.rems(xs);
}
