name: Check Copyright Headers

on:
  # - pull_request [should we include for all types]
  push:
    branches:
      - gh-copyright-workflow
jobs:
  copywrite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: hashicorp/setup-copywrite@32638da2d4e81d56a0764aa1547882fc4d209636 # v1.1.3
      - name: Check Header Compliance
        run: copywrite headers --plan
