# name: "Trigger Boundary UI release"

# on:
#   push:
#     tags:
#       - '*'

# jobs:
#   trigger-gha-release:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
#       - name: Release description
#         run: |
#           echo "Triggering release with a TAG ${GITHUB_REF#refs/tags/}"
#       - name: Trigger Release workflow in boundary-ui-releases
#         run: |
#           export GITHUB_TOKEN="${{ secrets.ELEVATED_GITHUB_TOKEN }}"
#           gh workflow run release.yml \
#           --repo hashicorp/boundary-ui-releases \
#           --ref main \
#           -f TAG="${GITHUB_REF#refs/tags/}"
