{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::Page as |page|>
  <page.header>
    <Hds::Text::Display
      @tag='h2'
      @size='400'
      @weight='bold'
      class='header-spacing'
    >
      {{t 'resources.session.title_plural'}}
      <DocLink @doc='sessions' />
    </Hds::Text::Display>
    <p>{{t 'resources.session.description'}}</p>
  </page.header>

  <page.body class='search-filtering'>
    {{outlet}}
  </page.body>
</Rose::Layout::Page>