<li class="rose-list-separated-item" id={{concat "item-separated-" this.id}}>
  {{yield (hash
    cell=(component 'rose/anonymous'
      tagName='div'
      classNames='rose-list-separated-item-cell'
    )
  )}}
</li>
